<main>
  <article class="tier-list">
    <section class='tier-row'> <div class='tier tier-s'>S</div> <div class='dropzone' #dropzone></div></section>
    <section class='tier-row'> <div class='tier tier-a'>A</div> <div class='dropzone' #dropzone></div></section>
    <section class='tier-row'> <div class='tier tier-b'>B</div> <div class='dropzone' #dropzone></div></section>
    <section class='tier-row'> <div class='tier tier-c'>C</div> <div class='dropzone' #dropzone></div></section>
    <section class='tier-row'> <div class='tier tier-d'>D</div> <div class='dropzone' #dropzone></div></section>
    <section class='tier-row'> <div class='tier tier-e'>E</div> <div class='dropzone' #dropzone></div></section>
    <section class='tier-row'> <div class='tier tier-f'>F</div> <div class='dropzone' #dropzone></div></section>
  </article>

  <article class="right-column">
    <div class="draggables">
      <div id="draggable1" class="draggable" #draggable style="background-image: url('https://i.etsystatic.com/13702629/r/il/067798/1979047720/il_fullxfull.1979047720_kthx.jpg')"></div>
      <div id="draggable2" class="draggable" #draggable style="background-image: url('https://i.etsystatic.com/13702629/r/il/067798/1979047720/il_fullxfull.1979047720_kthx.jpg')"></div>
      <div id="draggable3" class="draggable" #draggable style="background-image: url('https://i.etsystatic.com/13702629/r/il/067798/1979047720/il_fullxfull.1979047720_kthx.jpg')"></div>
      <div id="draggable4" class="draggable" #draggable style="background-image: url('https://i.etsystatic.com/13702629/r/il/067798/1979047720/il_fullxfull.1979047720_kthx.jpg')"></div>
    </div>
  </article>
</main>
