<body>
  <h1>Tier List Marvel Spider</h1>
  <main>
    <button (click)="addTierColumn()">Ajouter une colonne</button>
    <article class="tier-list">
      <section *ngFor="let tier of tiers; let i = index" class="tier-row">
        <!-- Colonne Tier -->
        <div class="tier" [class]="'tier-' + tier.name">{{ tier.name }}</div>
        <!-- Bouton Paramètre à droite -->

        <div class="dropzone" #dropzone></div>
        <div class="center-icon">
          <button
            mat-icon-button
            class="btn-param-right"
            (click)="editTierName(i, 'right')"
          >
            <mat-icon>settings</mat-icon>
          </button>
        </div>
      </section>
    </article>
    <article class="right-column">
      <div class="draggables dropzone" #dropzone>
        <div
          *ngFor="let character of characters; let i = index"
          [attr.id]="'draggable' + (i + 1)"
          #draggable
          class="draggable"
          [style.background-image]="'url(' + character.thumbnail + ')'"
          [title]="character.name"
          draggable="true"
        ></div>
      </div>
    </article>
  </main>
</body>

